@model WebApplication2.Models.Contact

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>My name is @Model.FirstName @Model.LastName and my ID is @Model.Id and my phone number is @Model.PhoneNumber</p>

